html {
    font-family: Bradley Hand, cursive;
    background-color: #F0E5DE;
}

img {
    max-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 40vh;
    padding: 20px;
    object-fit: scale-down;
}

@media screen and (min-width: 950px) {
    .project {
        flex-basis: 40%;
        margin: 15px;
    }
    .flexbox-container-3 {
        margin: 50px;
    }
}

@media screen and (max-width: 950px) {
    .flexbox-container {
        flex-wrap: wrap;
    }
    .flexbox-item {
        flex-basis: 100%;
        justify-content: center;
        padding: 20px;
    }
    .flexbox-item-nested {
        flex-basis: 100%;
    }
    .headings {
        flex-basis: 100%;
        font-size: 4vw;
        align-content: center;
    }
    .nav-1 {
        margin: 10px;
        flex-basis: 15%;
    }
    .biography {
        margin: 70px;
        font-size: 21px;
    }
    
    .project{
        flex-basis: 100%;
        margin: 15px;
    }
}


@media screen and (max-width: 780px) {
    .flexbox-container-2 {
    flex-wrap: wrap;
    }
    .nav-1{
        flex-basis: 100%;
        margin: 10px;
    }
    .flexbox-container-3 {
        flex-wrap: wrap;
    }
    .project{
        flex-basis: 100%;
        margin: 10px;
    }
}

@media screen and (max-width: 500px) {
    .flexbox-container-1 {
    flex-wrap: wrap;
    }
    .headings {
        flex-basis: 100%;
        font-size: 7vw;
        align-content: center;
    }
    .biography {
        margin: 40px;
        font-size: 16px;
    }
    .project{
        flex-basis: 100%;
    }
    .flexbox-container-3 {
        flex-basis: 100%
    }
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    width: 100%;
}

.flexbox-item {
    display: flex;
    background-color: #ABD0CE;
    width: 30%;
}

.flexbox-item-nested {
    background-color: #ABD0CE;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding: 30px;
    max-height: 100%;
    min-width: 50%;
    width: 50%;
}

header {
    background-color: #ABD0CE  ;
    margin: 15px;
}

.headings {
    color: #7C7877;
    width: 100%;
    display: flex;
}

h1 {
    font-size: 7vw;
    justify-content: center;
}

h2 {
    font-size: 4vw;
    justify-content: center;
}

.flexbox-container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F0E5DE;
}

.nav-1 {
    color: #7C7877;
    text-decoration: none;
    font-size: 21px;
    border: 2px solid #ABD0CE;
    border-radius: 15px;
}

a:link, a:visited {
    background-color: #ABD0CE;
    color: #7C7877;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #1f6e6a;
    color: #7C7877;
    border-bottom: 2px solid #7C7877;
  }

  .flexbox-container-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F0E5DE;
}

    .project {
        color: #7C7877;
        text-decoration: none;
        font-size: 21px;
        border: 2px solid #ABD0CE;
        border-radius: 15px;
    }

h3 {
    font-size: 30px;
}

.biography {
    color:#7C7877;
}

footer {
    text-align: center;
    background-color: #ABD0CE;
    margin: 15px;
    padding: 10px;
    color: #7C7877;
}