

html {
    font-family: Lucida, sans-serif;
    background-color: #F0E5DE;
}

img {
    max-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 60vh;
    object-fit: scale-down;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
 
}

.flexbox-item {
    border: 3px solid #F0E5DE;
    background-color: #ABD0CE;
}

.nested {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
    max-height: 100%;
    min-width: 100%;
    width: 50%;
    height: 30vh;
}

header {
    background-color: #ABD0CE  ;
    margin: 10px;
    padding: 1px;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;;
    color: #7C7877 ;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    color: #7C7877 ;
}

h3 {
    font-size: 2rem;
    line-height: 2rem;
    color: #7C7877 ;
}

p {
    color: #7C7877 ;
}


.flexbox-container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F0E5DE;
}

a {
    color: #7C7877;
    text-decoration: none;
    padding: 5px;
}

a:link, a:visited {
    background-color: #ABD0CE;
    color: #7C7877;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #1f6e6a;
    color: #7C7877;
    border-bottom: 2px solid #7C7877;

  }

  .flexbox-container-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F0E5DE;
}



p {
    color: #7C7877;
}
footer {
    text-align: center;
    background-color: #ABD0CE;
    padding: 10px;
    color: #7C7877;
}


